<!DOCTYPE html>
<html>
  <head>
    <script src="https://arc.io/widget.js#vVr1umev"></script>
    <meta name="viewport" content="width=device-width, user-scalable=no, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600|Rubik|Ubuntu:400,500" rel="stylesheet">
    <% if (htmlWebpackPlugin.options.devMode) { %>
    <script>window._kawai_cl_ = 6666;</script>
    <% } %>
  </head>
<body>
  <canvas id="screen"></canvas>

  <div id="huds">
    <div id="menu-return-warning">
      <div id="close-return-warning">
        <i class="fas fa-times"></i>
      </div>
      <span class="message">
        <i class="fas fa-info"></i> Are you sure you want to return to the main menu? You will be kicked out of the lobby.
      </span>
      <button id="menu-open">Continue</button>
    </div>

    <div class="top-left">
      <div class="buttons">
        <button id="back-to-menu">
          <i class="fas fa-bars"></i>
        </button>
        <button id="minimap-toggle">
          <i class="fas fa-map-marker-alt"></i>
        </button>
        <button id="skins-toggle">
          <span>Skin<br>on</span>
        </button>
      </div>

      <div id="minimap-hud">
        <canvas id="minimap"></canvas>
        <canvas id="minimapNode"></canvas>
      </div>
    </div>

    <div class="top-right">
      <div class="buttons">
        <button class="button" id="zoom-in">
          <i class="fas fa-plus-circle"></i>
        </button>
        <button class="button" id="zoom-out">
          <i class="fas fa-minus-circle"></i>
        </button>
        <button id="leaderboard-toggle">
          <i class="fas fa-crown"></i>
        </button>
      </div>
      <div id="leaderboard-hud"></div>
    </div>

    <div id="joystick">
      <div id="joystick-ball"></div>
    </div>

    <div id="d-pad" position="right">
      <div class="buttons">
        <button id="d-pad-a" class="a"><img src="../resources/images/switch.png"></button>
        <button id="d-pad-b" class="b"><img src="../resources/images/split.png"></button>
        <button id="d-pad-c" class="c"><img src="../resources/images/feed.png"></button>
        <button id="d-pad-d" class="d"><span>x2</span></button>
      </div>
    </div>
  </div>

  <div id="menu">
    <div id="server-info">Region: NA<br>Server: Hiro</div>
    <div class="center-box">
      <div class="logo"><img src="../resources/images/logo-med.png"></div>
      <div class="player-data">
        <div id="profile-previous" class="arrow">
          <i class="fas fa-chevron-left"></i>
        </div>
        <div class="form">
          <div class="data-row">
            <input class="input-box" id="tag" placeholder="Tag" readonly>
            <input class="input-box" id="nick" placeholder="Nick" readonly>
          </div>
          <div class="data-row">
            <input class="input-box" id="skin1" placeholder="Skin URL 1" readonly style="display: none;">
            <input class="input-box" id="skin2" placeholder="Skin URL 2" readonly style="display: none;">
          </div>
        </div>
        <div id="profile-next" class="arrow">
          <i class="fas fa-chevron-right"></i>
        </div>
      </div>
      <button id="play">
        <i class="fas fa-play"></i>
        <span>Play</span>
      </button>
    </div>

    <div class="bottom-left-btns">
      <button class="btn-square" id="servers">
        <i class="fas fa-globe-americas"></i>
      </button>
      <button class="btn-square" id="settings">
        <i class="fas fa-cog"></i>
      </button>
      <button class="btn-square" id="discord">
        <a href="https://discord.gg/huDNH8m" target="_blank">
          <i class="fab fa-discord"></i>
        </a>
      </button>
      <% if (htmlWebpackPlugin.options.devMode) { %>
      <button class="btn-square" id="fullscreen">
        <i class="fas fa-compress"></i>
      </button>
      <% } %>
    </div>

    <div id="server-menu">
      <div class="header">
        <span>Server list</span>
        <div id="server-menu-close">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="container">
        <div class="nav-bar">
          <div class="region" region="NA">NA</div>
          <div class="region active" region="EU">EU</div>
          <div class="region" region="AS">AS</div>
        </div>
        <div class="list" id="server-list">
          <div class="item-row title">
            <div class="cell">Name</div>
            <div class="cell">Player count</div>
            <div class="cell">Game mode</div>
          </div>
          <template id="server-list-row">
            <div class="item-row" region="">
              <div class="cell" data="name"></div>
              <div class="cell" data="count"></div>
              <div class="cell" data="mode"></div>
            </div>
          </template>
        </div>
      </div>
    </div>

    <div id="settings-menu">
      <div class="header">
        <span>Settings</span>
        <div id="settings-menu-close">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="container">
        <div class="nav-bar">
          <div class="category active" category="game"><i class="fas fa-gamepad"></i></div>
          <div class="category" category="theme"><i class="fas fa-palette"></i></div>
        </div>
        <div class="setting-items">
          <template id="settings-toggle">
            <div class="item toggle">
              <div class="title">Setting name</div>
              <div class="toggle-box">
                <div class="toggle-ball"></div>
              </div>
            </div>
          </template>
          <template id="settings-colorpicker">
            <div class="item colorpicker">
              <div class="title">Setting name</div>
              <div class="combo-box">
                <div class="reset-btn"><i class="fas fa-sync-alt"></i></div>
                <input class="jscolor" data-jscolor="{hash:true}" readonly></div>
              </div>
            </div>
          </template>
          <template id="settings-choice-box">
            <div class="item choice-box">
              <div class="title">Setting name</div>
              <div class="choices"></div>
            </div>
          </template>
          <template id="settings-choice">
            <div class="choice" value="x">X</div>
          </template>
          <template id="settings-range">
            <div class="item range-bar">
              <div class="title">Setting name</div>
              <div class="range-box">
                <div class="progress-bar">
                  <div class="fill-out">
                    <div class="fill-in"></div>
                  </div>
                </div>
                <input type="range">
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
  <div id="splash-screen">
    <img class="senpaio-logo" src="../resources/images/logo-med.png">
    <div id="network-error">
      <i class="fas fa-wifi"></i>Network Error!
    </div>
    <img class="hage-logo" src="../resources/images/hage-logo.png">
  </div>
</body>
</html>