<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="translucent-black">
    <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani:400,500,600|Rubik|Ubuntu:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <% if (htmlWebpackPlugin.options.devMode) { %>
    <script>window._kawai_cl_ = 6666;</script>
    <% } %>
    <% if (!htmlWebpackPlugin.options.devMode) { %>
      <script>
        alert('production mode');
        var console = {};
        console.log = (msg) => {
          if(msg === "Waiting for botprotect libs."){
            return;
          }
          window.ReactNativeWebView.postMessage(msg);
        };
        console.error = (msg) => {
          alert('error: ' + msg);
          window.ReactNativeWebView.postMessage(msg);
        };
        console.info = (msg) => {
          alert('info: ' + msg);
          window.ReactNativeWebView.postMessage(msg);
        };
        console.warn = (msg) => {
          alert('warn: ' + msg);
          window.ReactNativeWebView.postMessage(msg);
        }
      </script>
    <% } %>
  </head>
<body>
  <canvas id="screen"></canvas>

  <div id="huds">
    <div id="menu-return-warning">
      <div id="close-return-warning">
        <i class="fas fa-times"></i>
      </div>
      <span class="message">
        <i class="fas fa-info"></i> Are you sure you want to return to the main menu? You will be kicked out of the lobby.
      </span>
      <button id="menu-open">Continue</button>
    </div>

    <div class="top-left">
      <div class="buttons">
        <button id="back-to-menu">
          <i class="fas fa-pause"></i>
        </button>
        <button id="minimap-toggle">
          <i class="fas fa-map-marker-alt"></i>
        </button>
        <button id="skins-toggle">
          <span>Skin<br>on</span>
        </button>
      </div>

      <div id="minimap-hud">
        <canvas id="minimap"></canvas>
        <canvas id="minimapNode"></canvas>
      </div>
    </div>

    <div class="top-right">
      <div class="buttons">
        <button id="leaderboard-toggle">
          <span class="lBord-icon-container">
            <span class="lBord-icon"></span>
          </span>
        </button>
        <div class="zoom-container">
          <button class="button" id="zoom-in">
            <i class="fas fa-plus"></i>
          </button>
          <button class="button" id="zoom-out">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <span id="lBord">
        <div class="header-container">
          <span class="lBord-icon-container">
            <span class="lBord-icon">

            </span>
          </span>
          <p>Leaderbord</p>
        </div>
        <div id="leaderboard-hud"></div>
      </span>
    </div>

    <div id="joystick">
      <div id="joystick-ball"></div>
    </div>

    <div id="d-pad" position="right">
      <div class="buttons">
        <button id="d-pad-a" class="a"><img src="../resources/images/switch.png"></button>
        <button id="d-pad-b" class="b"><img src="../resources/images/split.png"></button>
        <button id="d-pad-c" class="c"><img src="../resources/images/feed.png"></button>
        <button id="d-pad-d" class="d"><span>x2</span></button>
      </div>
    </div>
  </div>


  <div id="menu">
    <div id="server-info">Region: NA<br>Server: Hiro</div>
    <div class="center-box">
      <div class="logo"><img src="../resources/images/logo-med.png"></div>
      <div class="player-data">
        <div id="profile-previous" class="arrow">
          <i id="chevron-left-menu" class="chevron left"></i>
        </div>
        <div class="form">
          <div class="data-row data-1">
            <div class="skin-preview inline" id="skin-preview-1">
              <div class="pluss"><i class="fas fa-plus"></i></div>
            </div>
            <div class="skin-preview inline" id="skin-preview-2">
              <div class="pluss"><i class="fas fa-plus"></i></div>
            </div>
          </div>
          <div class="data-row">
            <input class="input-box" id="tag" placeholder="Tag" readonly>
            <input class="input-box" id="nick" placeholder="Nick" readonly>
          </div>
        </div>
        <div id="profile-next" class="arrow">
          <i id="chevron-right-menu" class="chevron right"></i>
        </div>
      </div>
      <div class="action-buttons">
        <button id="spectate">
          <i class="fas fa-eye"></i>
          <span>Spectate</span>
        </button>

        <button id="play">
          <i class="fas fa-play"></i>
          <span>Play</span>
        </button>

        <button id="servers">
          <i class="fas fa-globe"></i>
          <span>Servers</span>
        </button>
      </div>
    </div>

    <div class="bottom-left-btns">
      <button class="btn-square" id="settings">
        <i class="fas fa-cog"></i>
      </button>
      <button class="btn-square" id="discord">
        <a href="https://discord.gg/huDNH8m" target="_blank">
          <i class="fab fa-discord"></i>
        </a>
      </button>
    </div>

    <div id="login-form-zero">
      <div class="sign-in-container">
        <div class="content-container" id="sign-in-menu">
          <p class="sign-in-text">Sign in</p><i class="fas fa-user"></i>
        </div>
      </div>
    </div>
    
    <div id="login-form-first">
      <div class="bottom-right-btns">
        <div class="buttons">
          <button class="btn-square" id="login-button-discord">
            <div class="inner-btn">
              <i class="fab fa-discord login-icon"></i><span class="login-text">Login Using Discord</span>
            </div>
            
          </button>
          <button class="btn-square" id="login-button-fb">
            <div class="inner-btn">
              <i class="fab fa-facebook-f login-icon"></i><span class="login-text">Login Using Facebook</span>
            </div>
          </button>
        </div>
        <i class="fas fa-times exit-icon" id="exit-server-options"></i>
      </div>
    </div>

    <div id="login-form-second">
      <div class="small-login-panel">
        <div class="panel-info">
          <div id="small-login-panel-lv">
            Loading...
          </div>
          <div id="small-login-panel-name">
            Loading...
          </div>
        </div>
        <img id="small-pf-avatar" draggable="false" />
      </div>
    </div>

    <div id="login-form-third">
      <div class="login-panel">
        <div class="header-container">
          <h3>Account</h3>
          <i class="fas fa-times" id="login-panel-close"></i>
        </div>
        <div class="center-panel-row">
          <img id="pf-avatar" draggable="false" />
          <div class="name-level-container">
            <div id="login-panel-name">
              Loading...
            </div>
            <div id="login-panel-lv">
              Loading...
            </div>
          </div>
        </div>
        <div class="progress-frame">
          <div class="progress" id="login-panel-xp-progress">
          </div>
          <div id="xp-text">
            XP
          </div>
        </div>
        <button class="btn-square" id="logout-button">
          <i class="fas fa-sign-out-alt"></i> Logout
        </button>
      </div>
    </div>

    <div id="outter-server-menu">
      <div id="server-menu">
        <div class="header">
          <span class="title">Servers</span>
          <div class="nav-bar">
            <div class="region" region="NA">NA</div>
            <div class="region active" region="EU">EU</div>
            <div class="region" region="AS">AS</div>
          </div>
          <div id="server-menu-close">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div class="container">
          <div class="list" id="server-list">
            <div class="item-row title">
              <div class="cell"><span class="item-title">Name</span></div>
              <div class="cell"><span class="item-title">Player count</span></div>
              <div class="cell"><span class="item-title">Game mode</span></div>
            </div>
            <template id="server-list-row">
              <div class="item-row" region="">
                <div class="cell" data="name"></div>
                <div class="cell" data="count"></div>
                <div class="cell" data="mode"></div>
              </div>
            </template>
          </div>
        </div>
      </div>
    </div>

 <div id="skin-modal">
        <div class="header-container">
          <div class="exit-button"><i class="chevron left"></i></div>
          <p class="header-text">Skins</p>
        </div>
        <div class="content">
            <div class="tabs">
                <button id="skinBtn1"><i class="fas fa-medal"></i>Level</button>
                <button id="skinBtn2"><i class="fas fa-check"></i>Free</button>
                <button id="skinBtn3"><i class="fas fa-user-alt"></i>My Skins</button>
                <button id="skinBtn4"><i class="fas fa-star"></i>Favorites</button>
                <button id="skinBtn5"><i class="fas fa-plus-square"></i>Submit</button>
            </div>
            <div class="tabContent">
                <template name="skin-item">
                    <div class="grid-item">
                        <img draggable="false">
                        <div class="icon"><i class="far fa-bookmark"></i></div>
                        <div class="title display">Skin Name Goes Here</div>
                        <button>Activate</button>
                    </div>
                </template>
                <span class="search-container">
                  <input id="skinSearch" type="text" class="searchBox" placeholder="Search . . .">
                  <i class="fas fa-search search-icon"></i>
                </span>
                <div id="skinView" class="scrollview ps ps--active-y">
                    <div class="grid-container" id="skinGrid">
                    </div>
                    <div id="skinsLoading">
                        <h2>Loading . . .</h2>
                    </div>
                </div>
                <div id="skinsPagin" class="pagination">
                    <a class="pagination-0">&laquo;</a>
                    <a class="pagination-1">1</a>
                    <a class="pagination-2 active">2</a>
                    <a class="pagination-3">3</a>
                    <a class="pagination-4">&raquo;</a>
                </div>
                <div id="skin-submit">
                    <div class="submit-page">
                        <h3>Submit A Skin</h3>
                        <p>Submit a custom skin to be approved. Approved skins will become freely available to all
                            players!</p>
                        <p><i>Note: You can only have a limited number of skins pending approval at once.</i></p>
                        <input id="imageUploadFile" style="visibility: collapse; width: 0px;" type="file"
                            accept="image/png, image/jpeg" />
                        <div id="submit-form-state1">
                            <button id="imageUploadFileBtn">Browse</button>
                        </div>
                        <div id="submit-form-state2">
                            <button disabled="true">Uploading...</button>
                        </div>
                        <div id="submit-form-state3">
                            <h2>Done!</h2>
                            <div>
                                <p>Check your 'My Skins' periodically to see your approved submissions.</p>
                                <button id="submitStartOver">Start Over</button>
                            </div>
                        </div>
                        <div id="submit-form-state4">
                            <h2>Pending</h2>

                            <div>
                                <p>You already have the maximum number of skins pending moderation.</p>
                            </div>
                        </div>
                        <div id="submit-form-state5">
                            <h2>Whoops.</h2>

                            <div>
                                <p>There was a problem uploading.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="settings-menu">
      <div class="header">
        <span>Settings</span>
        <div id="settings-menu-close">
          <i class="chevron left"></i>
        </div>
      </div>
      <div class="container">
        <div class="nav-bar" style="display: none;">
          <div class="category active" category="game"><i class="fas fa-gamepad"></i></div>
          <div class="category" category="theme"><i class="fas fa-palette"></i></div>
        </div>
        <div class="setting-items">
          <template id="settings-toggle">
            <div class="item toggle">
              <div class="title">Setting name</div>
              <div class="toggle-box">
                <span class="toggle-text on">On</span>
                <div class="toggle-ball"></div>
                <span class="toggle-text off display-none">Off</span>
              </div>
            </div>
          </template>
          <template id="settings-colorpicker">
            <div class="item colorpicker">
              <div class="title">Setting name</div>
              <div class="combo-box">
                <div class="reset-btn"><i class="fas fa-sync-alt"></i></div>
                <input class="jscolor" data-jscolor="{hash:true}" readonly></div>
              </div>
            </div>
          </template>
          <template id="settings-choice-box">
            <div class="item choice-box">
              <div class="title">Setting name</div>
              <div class="choices"></div>
            </div>
          </template>
          <template id="settings-choice">
            <div class="choice" value="x">X</div>
          </template>
          <template id="settings-range">
            <div class="item range-bar">
              <div class="title">Setting name</div>
              <div class="range-box">
                <div class="progress-bar">
                  <div class="fill-out">
                    <div class="fill-in"></div>
                  </div>
                </div>
                <input type="range">
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>


  <div id="splash-screen">
    <img class="senpaio-logo" src="../resources/images/logo-med.png">
    <div id="network-error">
      <i class="fas fa-wifi"></i>Network Error!
    </div>
    <img class="hage-logo" src="../resources/images/hage-logo.png">
  </div>
</body>
<script type="text/javascript" src="https://lhcdn.botprotect.io/js/api.js"></script>
</html>
