#server-menu {
  position: relative;
  top: 0px;
  left: 0px;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  user-select: none;
  margin: auto;
  box-sizing: border-box;
  border-radius: 15px;

  .header {
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background-color: #272727;
    border: 2px solid #707070;
    border-bottom: none;
    box-shadow: 0 2px 0 -1px #c4c4c4;
    color:white;
    text-align: center;
    z-index: 2;
    display: flex;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 36px !important;
    max-height: 36px !important;

    #server-menu-close {
      display: flex;
      position: absolute;
      margin-top: 9px;
      margin-right: 10px;
      right: 0px;
      top: 0px;
      width: 40px;
      height: 40px;
      font-size: 26px;
      justify-content: center;
      align-items: center;
      background-color: #1f6dc7;
      border: 2px solid #1d3f66;
      border-radius: 50%;
      @extend .give-blue-shadow;
    }

    .title{
      display: flex;
      position: absolute;
      left: 0px;
      top: 0px;
      height: 62px;
      justify-content: center;
      align-items: center;    
      margin-left: 10px; 
    }

    .nav-bar{
      display: flex;
      flex-direction: row;
      margin: auto;

      .region{
        margin-right: 0.5rem;
        padding: 0.5rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        border: 0.15rem solid #707070;
        border-radius: 15px;
        font-size: 18px;
        color: #a9a8aa;
      }

      .region.active {
        background-color: #a155b9;
        color: #ffffff;
        border: 0.15rem solid #6f2e84;
        text-shadow: -1px -1px 0 #6f2e84, 1px -1px 0 #6f2e84, -1px 1px 0 #6f2e84, 1px 1px 0 #6f2e84;
      }
    }

    @media only screen and (max-width: 500px) {
      .title{
        font-size: 18px;
      }
    }
  }
  
  @media screen and (min-height: 1024px) {
    .header {
      font-size: 28px;
  
      #server-menu-close {
      }

      .title{
        height: 56px;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow: auto;
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #707070;
    border-top: 0;

    .region {
      color: #ffffff;
      width: 54px;
      height: 54px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-weight: 600;
    }
  
    .atest{
      display: none;
      background-color: green;
      width: 5px;
      height: 95%;
      margin-right: 4px;
      margin-top: auto;
      margin-bottom: auto;
      display: flex;
      position: relative;
    }
    .atest2{
      width: 5px;
      height: 5px;
      background-color: pink;
      position: absolute;
    }
    @media screen and (min-height: 1024px) {
      .nav-bar {
        .region {
          width: 68px;
          height: 68px;
          font-size: 32px;
        }
      }
    }

    .list {
      display: flex;
      flex-direction: column;
      overflow: scroll;
      flex-grow: 1;
      user-select: none;
      border-top: 0;
      margin-right: 4px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      overflow-x: hidden;

      .item-row {
        display: flex;
        flex-direction: row;
        color: #ffffff;
        font-size: 18px;
        flex-shrink: 0;
        margin: auto;
        width: 90%;
        margin-top: 0.18rem;
        margin-bottom: 0.18rem;
        border: 2px solid #707070;
        border-radius: 15px;
        background-color: #2b2829;

        .cell {
          flex-grow: 1;
          flex-basis: 0;
          text-align: center;
          padding: 10px;
        }
      }

      @media screen and (min-height: 1024px) {
        .item-row {
          font-size: 24px;
        }
      }
      .item-row.title {
        background: black;
        font-weight: 600;
        color: #bbbbbb;
        border: none;
        margin: none;
        .cell{
          display: flex;
        }
        .item-title{
          width: 100%;
          border-right: 0.15rem solid #272727;
        }
        .cell:nth-of-type(3) {
          .item-title{
            width: 100%;
            border-right: 0rem;
          }
        }
      }

      .item-row.active {
        background: #e66acb;
        border-color: #a63867;
        font-weight: 600;
        color: #ffffff;
      }
    }
  }
  @media only screen and (max-width: 500px) {
    width: 100%;

    .region {
      font-size: 15px !important;
      padding: 0.25rem;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }
  @media only screen and (max-width: 720px) {
    width: 95%;
  }
  @media only screen and (max-width: 360px) {
    .region {
      font-size: 10px !important;
      padding: 0.12rem;
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
    .title{
      font-size: 15px !important;
    }
  }
}

#outter-server-menu{
  display: none;
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
}

::-webkit-scrollbar-thumb {
  background: #f765a3 !important;
  border-radius: 50px;
}
::-webkit-scrollbar {
  width: 4px;
}