#settings-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #222222;
  display: none;
  flex-direction: column;
  user-select: none;

  .header {
    font-size: 35px;
    font-weight: 600;
    padding: 15px;
    background-color: #272727;
    color: white;
    text-align: center;
    z-index: 2;
    height: 60px;
    border-bottom: 2px solid #c4c4c4;

    #settings-menu-close {
      display: flex;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 33px;
      height: 33px;
      font-size: 26px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-top: 17px;
      margin-left: 10px;
      background-color: #1f6dc7;
      border: 2px solid #183353;
      color: white;
      @extend .give-blue-shadow;
    }
  }
  
  @media screen and (min-height: 1024px) {
    .header {
      font-size: 28px;
  
      #settings-menu-close {
        width: 56px;
        height: 56px;
        font-size: 32px;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-grow: 1;
    background-color: black;

    .nav-bar {
      display: flex;
      flex-direction: column;
      background-color: #333333;
      box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
      z-index: 1;

      .category {
        color: #ffffff;
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
      }

      .category.active {
        background-color: #e66acb;
        color: #ffffff;
      }
    }
  
    @media screen and (min-height: 1024px) {
      .nav-bar {
        .category {
          width: 68px;
          height: 68px;
          font-size: 32px;
        }
      }
    }

    .setting-items {
      display: flex;
      flex-direction: column;
      overflow: auto;
      flex-grow: 1;
      background-color: black;
      margin-right: 45px;
      margin-left: 45px;
      margin-top: 15px;
      margin-bottom: 15px;
      overflow-x: hidden;

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin-top: 10px;
        background-color: #272727;
        border-radius: 15px;
        margin-left: 20px;
        margin-right: 20px;
        border: 2px solid #545454;
        flex-shrink: 0;

        .title {
          color: white;
          flex-grow: 1;
          font-size: 20px;
        }

        @media screen and (min-height: 1024px) {
          .title {
            font-size: 26px;
          }
        }
      }

      .item:nth-of-type(1){
        margin-top: 0;
      }

      .toggle {
        .toggle-box {
          width: 87px;
          height: auto;
          padding: 5.5px 6px;
          background-color: #c9c9c9;
          box-sizing: border-box;
          border-radius: 22px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          border: 2px solid #666666;
          padding-left: 10px;

          .toggle-ball {
            width: 25px;
            height: 25px;
            background-color: #848484;
            border-radius: 50%;
            border: 2px solid #666666;
          }

          .toggle-text{
            align-self: center;
            font-weight: 500;
          }
          .toggle-text.on{
            color: white;
            margin-left: unset;
            margin-right: auto;
          }
          .toggle-text.off{
            color: #787878;
            margin-right: unset;
            margin-left: auto;
          }

          
        }

        @media screen and (min-height: 1024px) {
          .toggle-box {
            transform-origin: center right;
            transform: scale(1.25);
          }
        }
      }

      .toggle.active {
        .toggle-box {
          background-color: #e66acb;
          border-color: #9b5b67;
          justify-content: flex-end;
        }
      }

      .colorpicker {
        .combo-box {
          display: flex;
          flex-direction: row;

          .reset-btn {
            color: #888888;
            background-color: #333333;
            padding: 6px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
          }

          .jscolor {
            outline: none;
            border: none;
            box-shadow: 0px 0px 3px #000000;
            padding: 6px;
            width: 60px;
            font-size: 14px;
            border-radius: 1px;
          }
        }

        @media screen and (min-height: 1024px) {
          .combo-box {
            transform-origin: center right;
            transform: scale(1.25);
          }
        }
      }

      .choice-box {
        .choices {
          display: flex;
          flex-direction: row;
          border-radius: 2px;

          .choice {
            color: #ffffff;
            padding: 5px 10px;
            border-radius: 2px;
            font-weight: 500;
            @extend .option-btn;
          }

          .choice.active {
            background-color: #e66acb;
            border-color: #ac6271;
            color: white;
          }
        }

        @media screen and (min-height: 1024px) {
          .choices {
            transform-origin: center right;
            transform: scale(1.25);
          }
        }
      }

      .range-bar {
        flex-direction: column;

        .title {
          width: 100%;
        }

        .range-box {
          position: relative;
          width: 100%;

          .progress-bar {
            margin-top: 7px;
            margin-bottom: 6px;
            background-color: #555555;
            width: 100%;
            height: 8px;
            position: absolute;
            z-index: -1;
          

            .fill-out {
              border-left: 10px solid #e66acb;
              border-right: 10px solid transparent;
              width: 100%;
              height: 100%;
              box-sizing: border-box;

              .fill-in {
                width: 40%;
                height: 100%;
                background-color: #e66acb;
              }
            }
          }

          input[type=range] {
            -webkit-appearance: none;
            width: 100%;
            margin: 6px 0;
            background-color: transparent;
          }
          input[type=range]:focus {
            outline: none;
          }
          input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 8px;
            cursor: pointer;
            background: transparent;
            border-radius: 4px;
          }
          input[type=range]::-webkit-slider-thumb {
            height: 20px;
            width: 20px;
            border-radius: 10px;
            background: #ffffff;
            cursor: pointer;
            -webkit-appearance: none;
            margin-top: -6px;
          }
          input[type=range]:focus::-webkit-slider-runnable-track {
            background: #3f3f3f;
          }
          input[type=range]::-moz-range-track {
            width: 100%;
            height: 8px;
            cursor: pointer;
            background: transparent;
            border-radius: 4px;
          }
          input[type=range]::-moz-range-thumb {
            height: 20px;
            width: 20px;
            border-radius: 10px;
            background: #ffffff;
            cursor: pointer;
          }
        }
      }
    }
  }
  .chevron::before{
    border-width: 0.18em 0.18em 0 0;
  }
  .chevron.left{
    position: relative;
    bottom: 0.5rem;
    left: 2px;
  }
}

.option-btn{
  padding: 8px 15px;
  border-radius: 22px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  height: 100%;
  text-align: center;
  border: 2px solid #666666;
  width: 50px;
  background-color: #c9c9c9;
  color: #727272;
}

.onPadding{
  padding-left: 10px !important;
  padding-right: 6px !important;
}
.offPadding{
  padding-left: 6px !important;
  padding-right: 10px !important;
}