$large-Max: 710px;
$default-Max: 260px;
$med-Max: 200px;
$small-Max: 170px;

#skin-modal.visible {
    display: flex;
    justify-content: center;
    align-items: center;
}
#skin-modal {
    position: fixed; /* Stay in place */
    z-index: 19999; /* Sit on top */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: none; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
    flex-direction: column;
    display: none;
    /*display: flex; /*for dev*/
    * {
        box-sizing: border-box;
    }

    .header-container{
        color: white;
        display: flex;
        background-color:#272727;
        border-bottom: 2px solid #c4c4c4;
        width: 100%;
        .header-text{
            margin: auto;
            font-size: 28px;
            font-weight: 600;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .chevron::before{
        border-width: 0.12em 0.12em 0 0;
    }
            
    .chevron.left:before{
        left: 12px;
        top: 8px;
    }

    .exit-button {
        background:#1f6dc7;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border: 2px solid #1d3f66;
        border-radius: 100%;
        padding-top: 2px;
        font-size: 28px;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 15px;
        box-sizing: border-box;
        transition: all 0.3s;
        position: absolute;
        cursor: pointer;
        float: right;
        @extend .give-blue-shadow;

        .fas.fa-times {
            margin-top: 8px;
        }
    }

    .content {
        height: 100%;
        width: 100vw;
        padding: 0 20px 20px;
        padding-bottom: 0px !important;
        z-index: 1;
        overflow: hidden;
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #111;
        border-radius: 4px;
        padding-top: 15px;
        padding-right: 45px;
        padding-left: 45px;

        button {
            width: 100%;
            padding: 5px 10px;
            margin: 0 5px;
            border: none;
            background: #e67bbe;
            transition: all 0.3s;
            outline: none;
            color: white;
            font-size: 20px;
            font-weight: bold;

        }
        button:disabled{
            pointer-events: none;
            background: #c5bcc2;
            user-select: none;

        }
        button:hover
        {
            background: #e67bbe;
        }
        button.delete {
            background: #d44242;
            border-bottom: 4px solid #882525;
        }

        button.delete.selected:hover
        {
            background: #fd9999;
            border-bottom: 4px solid #c26d6d;
        }

        .tabs {
            display: flex;
            width: 100%;

            button {
                background: #2b2b2b;
                cursor: pointer;
                font-size: 12px;
                padding-top: 8px;
                padding-bottom: 10px;
                font-weight: 100;
                border-radius: 10px;
                border: 2px solid #707070;
                box-sizing: border-box;
              }
      
            button:disabled {
                background: #444;


            }

            .fas {
                margin-right: 5px;
            }
        }
        .tabContent {
            height: 100%;
            display: flex;
            flex-direction: column;
            margin-top: 15px;

            #skinSearch {
                border: 2px solid #707070;
                height: 43px;
            }
            .searchBox {
                padding: 15px;
                width: 100%;
                font-size: 15px;
                border-radius: 15px;
                background: #282828;
                color: white;
                outline: none;
                box-sizing: border-box;
            }
            .searchBox::placeholder {
                color: white;
            }

            .search-container{
                display: flex;
            }

            .search-icon{
                color: white;
                position: absolute;
                right: 55px;
                top: 81px;
            }

            .scrollview {
                overflow: auto;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: auto;
                flex: 1;
                overflow-y: hidden;
                overflow-x: scroll;
                max-height: $default-Max;
                .grid-container {
                    padding-bottom: 15px;
                    margin-top: 15px;
                    margin-bottom: 15px;
                    display: grid;
                    grid-template-columns: repeat(100, 2fr);
                    gap: 10px;
                    row-gap: 0px;
                    flex: 1;
                    max-height: $default-Max;
                }
                #skinsLoading {
                    display: flex;
                    justify-content: center;
                    flex-grow: 1;
                    align-items: center;
                }
                .grid-item.selected{
                    background-color: #f765a3;
                    border: 2px solid #a63867;
                }
                .grid-item {
                    width: 20vw;
                    padding: 5px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: #282828;
                    border-radius: 8px;
                    position: relative;
                    flex: 1;
                    height: 100%;
                    max-height: $default-Max;
                    border: 2px solid#707070;

                    .fa-times{
                        color: #707070;
                    }

                    img {
                        width: 20vh;
                        height: 20vh;
                        margin-top: 10px;
                        margin-bottom: 10px;
                        border-radius: 100%;
                        border: 2px solid#707070;
                        background-color: #777;
                        user-select: none;
                        transition: transform .3s ease-out;
                    }

                    img.selected {
                        border: 5px solid #ff4ed9;
                        box-shadow: 0px 0px 9px 4px #ff4ed9;
                    }
                    img.selected:hover {
                        transform: scale(1);
                    }
                    .title {
                        display: flex;
                        height: 3em;
                        overflow:hidden;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.3em;
                        font-weight: bold;
                        color: white;
                    }
                    .icon {
                        position: absolute;
                        right: 13px;
                        top: 10px;
                        transition: transform .15s ease-out;
                        color: #707070;
                    }
                    .icon:hover {
                        opacity: 1;
                        transform-origin: center;
                    }
                    .icon.selected {
                        color: #ffffff;
                        opacity: 1;
                        transform: scale(1.2);
                    }
                    .icon.delete-icon{
                        font-size: 10px;
                    }
                    .icon.selected.delete-icon {
                        color: rgb(233, 34, 34);
                        opacity: .8;
                    }
                    .icon.selected.delete-icon:hover {
                        color: rgb(240, 18, 18);
                        opacity: 1;
                    }
                    i.selected{
                        color: white;
                    }

                    button {
                        width: 90%;
                        height: 2em;
                        border-radius: 15px;
                        margin: 5px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: auto;
                        background-color: #a155b9;
                        border: 2px solid #6f2e84;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: #6f2e84;
                        font-weight: 1200;
                        font-family: 'Ubuntu', sans-serif;
                    }
                    button.selected{
                        -webkit-text-stroke-width: 0px;
                        background-color: #272727;
                        border: 2px solid #707070;
                        font-weight: 200;
                    }
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                margin-top: auto;
              }
              
              .pagination a {
                color: white;
                float: left;
                padding: 8px;
                text-decoration: none;
                border-radius: 100%;
                user-select: none;
                height: 40px;
                width: 40px;
                padding-top: 9px;
                text-align: center;
                border: 2px solid #a63867;
                margin-left: 10px;
                margin-left: 10px;
              }
              
              .pagination a.active {
                background-color: #f765a3;
                color: white;
                border-radius: 100%;
              }
        }
    }

        /* perfect scrollbar overwrites */
        .ps .ps__rail-x:hover,
        .ps .ps__rail-y:hover,
        .ps .ps__rail-x:focus,
        .ps .ps__rail-y:focus,
        .ps .ps__rail-x.ps--clicking,
        .ps .ps__rail-y.ps--clicking {
            background-color: transparent;
            opacity: 0.9;
        }
    
        .ps__rail-y:hover > .ps__thumb-y,
        .ps__rail-y:focus > .ps__thumb-y,
        .ps__rail-y.ps--clicking .ps__thumb-y {
            background-color: #777;
            width: 6px;
        }
        
        .ps__thumb-y {
            display: none;
            background-color: #777;
        }
        /* perfect scrollbar overwrites */      
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.submit-page {
    color: white;
    padding: 60px;
    padding-top: 10px;
    input {
        font-size: 24px;
        width: 90%;
        
    }
    button {
        width: 10%;
        height: 34px;
    }
}

//responsiveness ipad
@media screen and (min-height: 1000px) {
    #skin-modal{
        .header-container{
            .header-text{
                font-size: 4vh;
                margin-top: 2vh;
                margin-bottom: 2vh;
            }

            .exit-button{
                font-size: 4vh;
                height: 6vh;
                width: 6vh;
                margin-top: 1.4vh;
                margin-bottom: 1.4vh;
            }

            .chevron.left:before{
                left: 20px;
                top: 14px;
            }
        }

        .content {
            padding-top: 30px;
            .tabs {
                button {
                    font-size: 15px;
                    padding-top: 18px;
                    padding-bottom: 20px;
                    margin-left: 30px;
                    margin-right: 30px;
                }
                #skinBtn1{
                    margin-left: 0px;
                }
                #skinBtn5{
                    margin-right: 0px;
                }
            }

            .tabContent{
                .search-icon{
                    top: 117px;
                    right: 58px;
                }

                .scrollview{
                    max-height: $large-Max;
                    .grid-container {
                        margin-top: 30px !important;
                        margin-bottom: 30px !important;
                        padding-bottom: 30px;
                        max-height: $large-Max;
                        .grid-item{
                            max-height: $large-Max;
                        }
                    }
                }
            }
        }
    }
}

//responsiveness smart-phone
@media screen and (max-height: 450px) {
    #skin-modal{
        .header-container{
            .header-text{
                font-size: 25px;
                margin-top: 8px;
                margin-bottom: 8px;
            }

            .exit-button{
                width: 36px;
                height: 36px;
            }

            .chevron.left:before{
                left: 10px;
                top: 6px;
            }
        }

        .content {
            padding-top: 10px;
            padding-bottom: 10px;

            .tabContent{
                margin-top: 10px;
                .search-icon{
                    top: 66px;
                }

                .scrollview{
                    max-height: $med-Max;
                    .grid-container {
                        padding-bottom: 0px;
                        margin-top: 10px !important;
                        margin-bottom: 10px !important; 
                        max-height: $med-Max;
                        .grid-item{
                            padding-top: 10px;
                            padding-bottom: 10px;
                            max-height: $med-Max;
                            img{
                                margin-top: 0px;
                                margin-bottom: 0px;
                            }
                            button{
                                margin-bottom: 0px;
                                margin-top: 10px;
                                font-size: 18px;
                            }
                            .title{
                                height: auto;
                                margin-top: 10px;
                                font-size: 18px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//responsiveness small smart-phone
@media screen and (max-height: 350px) {
    #skin-modal{
        .header-container{
            .header-text{
                font-size: 20px;
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .exit-button{
                width: 32px;
                height: 32px;
                margin-top: 1px;
                font-size: 18px;
            }

            .chevron.left:before{
                left: 10px;
                top: 7px;
            }
        }

        .content {
            padding-top: 7px;
            padding-bottom: 7px;
            .tabs {
                button{
                    font-size: 10px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                }
            }

            .tabContent{
                margin-top: 7px;
                .search-icon{
                    top: 53px;
                }
                .search-container{
                    .searchBox{
                        padding-top: 7px;
                        padding-bottom: 7px;
                        font-size: 15px;
                    }
                    .searchBox::placeholder {    
                        font-size: 15px;
                    }
                    #skinSearch{
                        height: unset;
                    }
                }

                .scrollview{
                    max-height: $small-Max;
                    .grid-container {
                        padding-bottom: 7px;
                        margin-top: 7px !important;
                        margin-bottom: 7px !important;
                        max-height: $small-Max;
                        .grid-item{
                            padding-top: 5px;
                            padding-bottom: 5px;
                            width: 24vw;
                            max-height: $small-Max;
                            img{
                                margin-top: 0px;
                            }
                            button{
                                margin-bottom: 0px;
                                font-size: 16px;
                            }
                            .title{
                                font-size: 16px;
                            }
                        }
                    }
                }

                .pagination{
                    a{
                        padding-top: 6px;
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
}

.black-text{
    color: black;
}
.black-text::placeholder{
    color: black !important;
}