@import 'huds/zoom-buttons';
@import 'huds/joystick';
@import 'huds/d-pad';
@import 'huds/menu-warning';
@import 'huds/leaderboard';
@import 'huds/minimap';

$border-color: rgba(144, 152, 173, 0.4);

.skin-preview {
  padding: 21px;
  padding-left: 32px;
  height: 11px;
  margin-left: 0.75rem;
  margin-top: auto;
  margin-bottom: auto;
  background-size: cover !important;
  transition: border-color .15s ease-out;
  display: flex;
  border-radius: 100%;
  border: 2px solid #707070;
  position: relative;

  .pluss{
    position: absolute;
    width: 11px;
    height: 11px;
    bottom: 0px;
    right: 0px;
    border-radius: 100%;
    border: 2px solid $border-color;
    background-color: #272727;
    display: flex;

    i{
      width: 100%;
      height: 100%;
      display: flex;
      color: #c7c6c9;
      font-size: 6px !important;
    }
    i::before{
      margin: auto;
    }
  }
}
.skin-preview:nth-of-type(1){
  margin-left: 0rem;
}

.has-image{
  border-radius: 100% !important;
  border: 2px solid #707070;
}

.skin-preview:nth-of-type(2){
  @media only screen and (max-width: 500px) {
    margin-left: 0.25rem;
  }
}

.inline {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

#huds {
  position: fixed;
  top: 0px;
  left: 0px;

  .top-left {
    position: fixed;
    top: 12px;
    left: 40px;
    display: flex;
    transform-origin: top left;

    #skins-toggle{
      display: none;
    }
    
    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      #minimap-toggle{
        margin-top: 10px;
      }

      button {
        color: #ffffff;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        margin: 2px;
        border-radius: 10px;
        font-size: 20px;
        outline: none;
        user-select: none;
        padding: 0px;
        background-color: transparent;

        i {
          border: 2px solid $border-color !important;
          width: 100%;
          height: 100%;
          display: flex;
          border-radius: 8px;
        }
        i::before{
          margin: auto;
        }

        span {
          font-size: 14px;
          font-weight: 600;
          line-height: 12px; 
          width: 100%;               
        }
      }
    }
  }

  .top-right {
    position: fixed;
    top: 12px;
    right: 40px;
    display: flex;
    flex-direction: column;
    transform-origin: top right;

    .buttons {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .zoom-container{
        display: flex;
        flex-direction: column;
        margin-bottom: auto;
      }

      #leaderboard-toggle{
        margin-top: 2px;
      }

      button {
        background-color: transparent;
        color: #ffffff;
        border: none;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        margin: 2px;
        margin-top: 10px;
        font-size: 20px;
        outline: none;
        user-select: none;
        padding: 0px;
        display: flex;

        i{
          border: 2px solid $border-color !important;
          border-radius: 8px;
          width: 42px;
          height: 42px;
          display: flex;
        }

        i::before{
          margin: auto;
        }

        .lBord-icon-container{
          padding: 7px;
          padding-top: 5px;
          display: flex;
          width: 28px;
          height: 30px;
          border: 2px solid $border-color !important;
          border-radius: 8px;
          .lBord-icon{
            width: 100%;
            height: 100%;
            background-image: url("../../src/resources/images/leaderbord.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }

    #lBord{
      display: none;
      border-radius: 8px;
      margin-left: 5px;
      
      width: 118px;
      .header-container{
        display: flex;
        flex-direction: row;
        padding-top: 5px;
        padding-bottom: 7.5px;
        padding-left: 6px;
        padding-right: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border: 2px solid $border-color;
        border-bottom: 1px solid $border-color;
        p{
          color: #707070;
          margin-top: auto;
          margin-bottom: auto;
          font-size: 14px;
          font-weight: 600
        }
        .lBord-icon-container{
          margin: 5px;
          margin-top: 1px;
          display: flex;
          width: 22px;
          height: 22px;
          margin-top: 0px;
          margin-left: 0px;
          margin-right: 2px;
          margin-bottom: 0px;
          .lBord-icon{
            width: 100%;
            height: 100%;
            background-image: url("../../src/resources/images/leaderbord.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }     
    }
  }

  .flex-row{
    flex-direction: row !important;
  }
  .flex-column{
    flex-direction: column !important;
  }
}

.chevron::before {
	border-style: solid;
  border-width: 0.09em 0.09em 0 0;
  border-bottom-color: transparent;
  border-left-color: transparent;
	content: '';
	display: flex;
	height: 0.45em;
	position: relative;
	transform: rotate(-45deg);
  width: 0.45em;
  border-top-left-radius: 10%;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  top: 0.5rem;
}

.chevron.right:before {
  transform: rotate(45deg);
  @media only screen and (max-width: 500px) {
    right: 0.2em;
  }
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	@media only screen and (max-width: 500px) {
    left: 0.2em;
  }
	transform: rotate(-135deg);
}

.login-icon{
  margin-right: 0.5rem !important;
  font-size: 15px;
  margin-left: 0.5rem !important;
  display: flex;
}
.fa-discord::before{
  margin: auto;
}
.fa-facebook-f{
  margin: auto;
}