#d-pad {
  $border-color: rgba(144, 152, 173, 0.4);

  position: fixed;
  width: 140px;
  height: 140px;
  bottom: 20px;
  user-select: none;

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    button {
      border-radius: 50%;
      border: 2px solid $border-color;
      background-color: transparent;
      outline: none;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
    }

    button.a > img,
    button.d > img {
      pointer-events: none;
      width: 160%;
      transform: scale(1);
    }

    button.b > img,
    button.c > img {
      pointer-events: none;
      width: 160%;
      transform: scale(1.2);
    }

    button > span {
      pointer-events: none;
      color: #a7a7a7;
      font-size: 18px;
      font-weight: 600;
      width: 100%;
    }

    button.a {
      width: 44px;
      height: 44px;
      margin: 13px;
      position: absolute;
      font-size: 20px;
      top: 15px
    }

    button.b {
      width: 65px;
      height: 65px;
      position: absolute;
      font-size: 30px;
      top: 10px;
    }

    button.c {
      width: 65px;
      height: 65px;
      font-size: 30px;
      position: absolute;
      bottom: -15px;
    }

    button.d {
      width: 44px;
      height: 44px;
      margin: 13px;
      font-size: 20px;
      position: absolute;
      bottom: -15px;
    }
  }
}

#d-pad[position=right] {
  right: 40px;
  transform-origin: bottom right;
  bottom: 36px;

  .buttons {
    button.a {
      margin-left: 5px;
    }
    button.b {
      right: 10px;
    }
    button.c {
      left: 10px;
    }
    button.d {
      right: 0px;
      margin-right: 5px;
    }
  }
}

#d-pad[position=left] {
  left: 20px;
  transform-origin: bottom left;
  bottom: -36px;

  .buttons {
    transform: scaleX(-1);
    transform: scaleY(-1);

    button {
      transform: scaleX(-1);
      transform: scaleY(-1);
    }

    button.a {
      right: 0px;
      margin-right: 5px;
      top: -10px
    }
    button.b {
      left: 10px;
      top: -5px;
    }
    button.c {
      right: 10px;
      bottom: 15px;
    }
    button.d {
      left: 0px;
      margin-left: 5px;
      bottom: 15px;
    }
  }
}
