$border-color: rgba(144, 152, 173, 0.4);

#leaderboard-hud {
  display: none;
  flex-direction: column;
  align-self: flex-end;
  background-color: transparent;
  pointer-events: none;
  touch-action: none;
  user-select: none;
  font-weight: 500;
  padding-top: 7.5px;
  padding-bottom: 5px;
  padding-left: 6px;
  padding-right: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid $border-color;
  border-top: 1px solid $border-color;;

  .slot {
    color: #ffffff;
    font-size: 13px;
    line-height: 16px;
    max-width: 120px;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 6px;
  }
  .slot:last-of-type{
    margin-bottom: 2px;
  }

  .header-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    h5{
      color: #707070;
      margin: 0px;
      font-size: 15px;
    }
    .lBord-icon-container{
      margin: 5px;
      margin-top: 1px;
      display: flex;
      width: 100%;
      height: 100%;
      .lBord-icon{
        width: 100%;
        height: 100%;
        background-image: url("../resources/images/leaderbord.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}
.lBord-icon-dark{
  background-image: url("../resources/images/leaderbordDark.png") !important;
}